/.phpunit.cache
/node_modules
/public/build
/public/*.log
/public/hot
/public/MadelineProto.log
/public/session*
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
MadelineProto.log
/session*
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
